.products-page{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;


    padding-left: 300px;
    padding-top: 80px;

    &__container{
        margin: 0 auto;
        width: 100%;
        padding: 0 20px;
    }

    &__toolbar{
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        width: 1000px;
    }   

    &__list{
        overflow-y: auto;
        scrollbar-color: #d5dde0 white;
        scrollbar-width:thin;

    }

}